<!DOCTYPE html>
<html lang = "ko" translate = "no">
    <head>
        <meta charset = "UTF-8">
        <meta name = "google" content = "notranslate" />
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
        <title>hyungyugod</title>
    </head>
    <body>
        <div>
            
            <h1>쌀국수</h1>
            <h1>쌀국수</h1>
            <h1>쌀국수</h1>
            <h1>쌀국수</h1>
            <h1>쌀국수</h1><h1>쌀국수</h1>
            <h1>쌀국수</h1>
            <h1>쌀국수</h1>
            <h1>쌀국수</h1>
            <h1>쌀국수</h1>
            <h1>쌀국수</h1><h1>쌀국수</h1>
            <h1>쌀국수</h1>
            <h1>쌀국수</h1>
            <h1>쌀국수</h1>
            <h1>쌀국수</h1>
            <h1>쌀국수</h1>
            <h1>쌀국수</h1>
            <h1>쌀국수</h1>
            
            
            <span th:text="${name}"></span>
            <h1>안녕하세요</h1>
            <p>성현규입니다.</p>
        </div>
    </body>
</html>    